/* General CSS */
@import url(https://fonts.googleapis.com/css2?family=Barlow+Condensed%3Awght%40200%3B300%3B400%3B500%3B600%3B700%3B800%3B900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto%3Awght%40300%3B400%3B500%3B700%3B900&display=swap);


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}


::root {
    --bg-white: #F4EEEE;
    --primary-text: #061738;
    --secondary-color: #F3AA60;
    --light-color: #e2f6de;
    --dark-color: #03262c;
    --text-white: #fff;
    --text-gray: #dee2e6;
    --anchor-color: #007aff;

    /* Font  Family */
    --primary-font: 'Barlow Condensed', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

body,
html {
    color: #061738;
    font-size: 10px;
    font-weight: 400;
    scroll-behavior: smooth;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    max-width: 100%;
    padding: 0px;
    margin-top: 83px;
    overflow-x: hidden;
}


embed,
iframe,
img,
object {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:active,
a:focus,
a:hover,
button {
    text-decoration: none;
    outline: 0;
}

li a {
    color: var(--text-text);
}

a:hover,
button:hover {
    --webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: #F3AA60;
}


.main-btn {
    position: relative;
    color: var(--bg-white);
    background: linear-gradient(to right);
    z-index: 1;
    overflow: hidden;
    border: 0.2rem solid var(--bg-white);
    border-radius: 3.5rem;
    text-transform: uppercase;
    padding: 1rem 3.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    letter-spacing: 0.2rem;
}

.main-btn:hover {
    background: var(--bg-white);
    color: #F3AA60;
    border: 0.2rem solid #F3AA60;
}

/* navbar css */

.header {
    position: absolute;
    width: 100%;
    top: 2rem;
    left: 0;
    z-index: 2;
}

.header .navbar {
    background: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 2rem 5rem;
}

.header .navbar-brand {
    /* width: 7.5rem; */
    margin-top: -0.1rem;
}

.header .navbar-nav .nav-link {
    color: gray;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    margin: 0 0.2rem;
    font-family: var(--primary-font);
}

.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active {
    color: var(--secondary-color);
    color: #F3AA60;
}

.header .navbar-toggler {
    font-size: 2rem;
    height: 2.7rem;
    padding: 0;
}

.header .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.header .header_right span {
    color: #F3AA60;
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    margin-right: 1rem;
}

.header .header_right .phone_no {
    color: #061738;
    font-size: 2rem;
}

.header-scrolled {
    position: fixed;
    top: -0.4rem;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 1320px;
    margin: auto;
    z-index: 999;
    transition: 0.3s all ease-in-out;
}

/* ................. */

.uppercontainer {
    color: white;
    background-image: url(https://images.unsplash.com/photo-1580051745101-2dca6e53f15c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    font-size: x-large;
    height: 300px;
    margin: 0 -8px;
    opacity: .8;
    padding: 100px;
    font-family: 'RocknRoll One', sans-serif;
}

.getin {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#contact_us{
    font-size:3.5rem;
}

.uppercontainer hr {
    background-color: rgb(235, 151, 151);
    border-width: 0;
    color: rgb(233, 145, 145);
    height: 2px;
    margin-right: 80%;
}

.details {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.details p {
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

.contact {
    padding: 20px;
    width: 25%;
}

#contact {
    text-align: center;
}

.information {
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icons {
    width: 40px;
}

.gymhrs {
    padding: 20px;
    width: 25%;
    margin: auto;
}

.gymhrs p {
    text-align: center;
}

.gymhrs table {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin: auto;
    width: 100%;
    text-align: center;
}

.map {
    width: 25%;
}

.myform {
    padding-top: 5px;
    background-color: whitesmoke;
    opacity: .8;
    width: 30%;
    margin: auto;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}

.mssgus {
    color: gray;
    padding: 15px;
    margin: 15px;
    text-align: justify;
}

.formdetails {
    margin-top: 20px;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}

.submit {
    text-align: right;
    padding: 5px;
}

input[type="submit"] {
    border: 1px solid gray;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type="submit"]:hover {
    border: 1px solid brown;
    background-color: #fff;
}


/* Footer */


.footer {
    /* background: #000; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    /* color: #fff; */
    /* margin: 0 500px 0 500px; */
}

.footer-content {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p {
    color: #fff;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    color: #fff;
    width: 99vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    color: #fff;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: capitalize;
    opacity: .4;
    font-weight: 200;
}


/* Media Query */
@media screen and (max-width : 600px) {
    body {
        max-width: 100%;
    }

    .contact {
        padding: 10px;
        width: 50%;
    }

    .gymhrs {
        padding: 10px;
        width: 50%;
    }

    .gymhrs table {
        font-size: small;
    }

    .map {
        padding: 20px;
        width: 100%;
    }

    .myform {
        width: 80%;
    }

    .panchalfooter {
        display: block;
        margin-left: 5px
    }

    .copyright {
        display: block;
        margin: 0;
    }

    .social-footer-icons {
        background-color: black;
    }
}